* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.Game {
}

.Game-Title {
  text-align: center;
}

.Game-Container {
  display: flex;
  justify-content: center;
}
